.button {
  block-size: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  border: none;
  outline: none;
  padding: clamp(0.313rem, 0.202rem + 0.469vw, 0.625rem);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.primary {
  background-color: var(--primary-color);
}

.primary:hover {
  background-color: var(--primary-color-hover);
}

.secondary {
  background-color: var(--widgets-color);
}

.secondary:hover {
  background-color: var(--widgets-color-hover);
}

.tertiary {
  background-color: inherit;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.5);
}
