.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  inline-size: 100%;
}

.fees {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  inline-size: 100%;
}

.fee {
  background-color: var(--widgets-color);
  flex-shrink: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

@media (max-width: 768px) {
  .rental {
    flex-direction: column;
  }
}