.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  padding: clamp(0.313rem, 0.092rem + 0.939vw, 0.938rem);
  background-color: var(--widgets-color-hover);
  block-size: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.input {
  border: none;
  outline: none;
  color: var(--main-text-color);
  font-size: 18px;
  background-color: inherit;
  block-size: 100%;
  inline-size: 100%;
}

.input::placeholder {
  color: var(--description-text-color);
  font-size: 18px;
}