@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Netflix Sans';
  src: url('NetflixSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
