.filmCard {
  block-size: 400px;
  inline-size: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 80%;
  inline-size: 100%;
  align-self: center;
  transition: transform 0.3s ease-in-out;
}

.imageContainer img {
  align-self: center;
  block-size: 100%;
  inline-size: auto;
}

.imageContainer:hover {
  transform: translateY(-10px) scale(1.05);
  transform-origin: center;
}

.imageContainer .poster {
  background-size: cover;
  block-size: 100%;
  inline-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.filmCardInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filmCardAbout {
  display: flex;
  justify-content: space-between;
}

.noImage {
  background-image: var(--no-image-film-background);
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  inline-size: 100%;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.titleContainer a {
  color: var(--main-text-color);
}

@media (max-width: 678px) {
  .filmCard {
    flex-direction: row;
    justify-content: space-between;
    inline-size: 100%;
    block-size: 200px;
  }

  .imageContainer {
    block-size: 100%;
    inline-size: auto;
  }

  .noImage {
    inline-size: clamp(9.375rem, 5.507rem + 16.502vw, 12.5rem);
  }

  .filmCardAbout {
    flex-direction: column;
    gap: 5px;
  }

  .titleContainer {
    text-overflow: none;
    overflow: hidden;
  }
}

/*

@media (max-width: 486px) {
  .filmCard {
    block-size: 130px;
    inline-size: 160px;
  }

  .imageContainer {
    block-size: 100px;
  }
}*/
