.cardContainer {
  block-size: 200px;
  inline-size: 200px;
  display: flex;
  gap: 10px;
}

.photo {
  align-self: center;
  inline-size: 100px;
  block-size: auto;
  margin-bottom: auto;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
