.fact {
  inline-size: 100%;
  min-block-size: 100px;
  background-color: var(--widgets-color);
  padding: 15px;
  transition: background-color 1s ease-in-out;
  line-height: 1.2;
}

.spoiler {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--widgets-color-hover);
}
