@use './styles/font.scss';

:root {
  --main-font-family: 'Netflix Sans', sans-serif;
  --main-background-color: rgb(39, 39, 39);
  --widgets-color: rgb(36, 36, 36);
  --main-text-color: rgb(255, 255, 255);
  --description-text-color: rgb(180, 180, 180);
  --primary-color-background-page: rgb(67, 0, 0);
  --primary-color: rgb(180, 40, 40);
  --primary-color-hover: rgb(215, 50, 50);
  --widgets-color-hover: rgb(26, 26, 26);
  --widgets-color-button: rgb(26, 26, 26);
  --no-image-film-background: linear-gradient(130deg, #ff7614, #810505);
  --mega-font-size: clamp(3rem, 2.472rem + 2.254vw, 4.5rem);
  --big-font-size: clamp(1.75rem, 1.31rem + 1.878vw, 3rem);
  --medium-font-size: clamp(1.375rem, 1.243rem + 0.563vw, 1.75rem);
  --normal-font-size: clamp(1.375rem, 1.243rem + 0.563vw, 1.75rem);
  --mini-font-size: clamp(0.75rem, 0.286rem + 1.98vw, 1.125rem);
  --button-height: clamp(1.875rem, 1.435rem + 1.878vw, 3.125rem);
  --modal-padding: clamp(1.25rem, 0.59rem + 2.817vw, 3.125rem);
  --text-dropdown-height: clamp(10.625rem, 7.324rem + 14.085vw, 20rem);
  --text-dropdown-height-min: clamp(3.125rem, 2.025rem + 4.695vw, 6.25rem);
  --film-content-background: #101010;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
  border: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--main-font-family);
  background-color: var(--film-content-background);
}

.big-title {
  font-size: var(--big-font-size);
  color: var(--main-text-color);
}

.title {
  font-size: var(--medium-font-size);
  color: var(--main-text-color);
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.title:hover {
  color: var(--description-text-color);
}

.description {
  font-size: var(--mini-font-size);
  color: var(--description-text-color);
}

.text,
.textHovered {
  font-size: var(--mini-font-size);
  color: var(--main-text-color);
}

.textHovered:hover {
  color: var(--description-text-color);
}

.buttonTitle {
  font-size: var(--medium-font-size);
  text-decoration: none;
  text-decoration-line: none;
  color: var(--main-text-color);
}

.mega-title {
  font-size: var(--mega-font-size);
  color: var(--main-text-color);
}
